os:
  - linux
services:
  - docker
env:
  matrix:
    - JCON=docker
    - JCON=jdk8
    - JCON=jdk11
install:
    - docker version
    - docker build -f Dockerfile-"$JCON" -t hberndt/jslave-"$JCON":travis jslave-"$JCON"/
script:
    - docker images
    - docker inspect hberndt/jslave-"$JCON":travis
